
.titulo2{
    margin-top: 35px;
    font-weight: 700;
}


.enfasis{
    margin: 25px;
    font-weight: 700;
    font-size: medium;
    
}



.cita{
    margin-bottom: 10px;
    text-indent: -2.5em;
    padding-left: 2.5em;
}

.revista{
    font-style: italic;
}



