.root {
    display: flex;    
    background-image: linear-gradient(
      -60deg,
      var(--mantine-color-blue-4) 0%,
      var(--mantine-color-blue-7) 100%
    );
    padding: calc(var(--mantine-spacing-md));
    border-radius: var(--mantine-radius-md);
  
    @media (max-width: $mantine-breakpoint-sm) {      
      width: 280px;
      padding: 12px   
    }
    

  }
  
  .title {
    color: var(--mantine-color-white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--mantine-font-size-sm);
    
  }
  
  .count {
    color: var(--mantine-color-white);
    font-size: rem(28px);
    line-height: 1;
    font-weight: 700;
    margin-bottom: var(--mantine-spacing-sm);
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
      @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(20px);
        margin-bottom: 1px;}      

    
  }
  
  .description {
    color: var(--mantine-color-blue-0);
    font-size: var(--mantine-font-size-sm);
    margin-top: rem(5px);
    @media (max-width: $mantine-breakpoint-sm) {      
      margin-top: 1px;} 
  }
  
  .stat {
    
    max-width: 180px;
    @media (max-width: $mantine-breakpoint-sm) {
      max-width: 250px;      
    }
    
    
    
    
    
  
    & + & {
      padding-left: var(--mantine-spacing-sm);
      margin-left: var(--mantine-spacing-xl);
      border-left: rem(1px) solid var(--mantine-color-blue-3);
  
      @media (max-width: $mantine-breakpoint-sm) {
        padding-left: 0;
        margin-left: 0;
        border-left: 0;
        padding-top: var(--mantine-spacing-xl);
        margin-top: var(--mantine-spacing-xl);
        border-top: rem(1px) solid var(--mantine-color-blue-3);
        
      }
    }
  }